.card{
    width: 350px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    position: relative;
}

.info{
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: 100%;
}

.col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name{
    font-size: 17px;
    font-weight: 600;
    line-height: 21px;
}

.img{
    height: 280px;
    width: 100%;
    object-fit: contain;
}

.eyeButton{
    position: absolute;
    top: 10px;
    left: 10px;
}

.eye{
    fill: var(--c-primary);
    width: 20px;
    height: 20px;

    &:hover{
        fill: var(--c-secondary);
    }
}