.footer{
    display: flex;
    justify-content: space-between;
    border-radius: 0px 30px;
    padding: 30px;
}

.socials, .logo{
    flex-basis: 25%;
}

.socials{
    display: flex;
    justify-content: flex-end;
}

.nav{
    flex-basis: 50%;
}