.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .6);
    opacity: 0;
    pointer-events: none;

    &.active{
        opacity: 1;
        pointer-events: all;
    }
}

.content{
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    top: -100%;
    background: var(--c-light);
    padding: 20px;
    min-height: 150px;
    min-width: 200px;

    &.active{
        top: 50%;
    }
}