:root{
    --c-dark: rgb(16, 16, 16);
    --c-light: rgb(255, 255, 255);
    --c-primary: rgb(131, 131, 131);
    --c-secondary: rgb(255, 165, 66);
    --c-yellow: rgb(255, 206, 127);
    --c-red: rgb(223, 100, 100);

    --ff: Montserrat;
}