.nav{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 50%;
    gap: 10px;
}